<div class="hero-unit">
  <a style="float: left; padding-right: 30px;">
    <img title="{{ page.title }} image" src="{{ page.image }}">
  </a>
  <h2>{{ page.title }}</h2>
  <p>{{ content }}</p>
</div>

      <div class="row">
        <div class="span6">
          <h3>Blog</h3>
		<ul>
		{% for post in site.categories.blog limit:10 %}
		<li><a href="{{post.url}}">{{ post.title }}</a></li>
		{% endfor %}
		</ul>
          <p><a class="btn" href="/blog">More »</a></p>
        </div>
        <div class="span6">
	<h3>Contact</h3>
	{{ page.contact }}
          <p><a class="btn" href="/contact/#email">Email »</a></p>
        </div>
      </div>
      <hr>

